{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Delete Form</h2>
            <form method="POST">
                {% csrf_token %}
                <p class="card-text">Are you sure that you want to delete the post "{{ post.title }}"?</p>
                <div class="d-flex justify-content-between align-items-center">
                    <button type="submit" class="btn btn-danger">Yes, Delete</button>
                    <a href="{% url 'posts' %}" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
